@inherits SalesBase
@page "/sales"

<FluentToolbar id="toolbar-slotted-label">
	<FluentButton Appearance="Appearance.Accent" OnClick="@GetSalesOrdersWithResilienceAsync">Get Orders (Resilience)</FluentButton>
	<FluentButton Appearance="Appearance.Accent" OnClick="@GetSalesOrdersWithoutResilienceAsync">Get Orders (Chaos)</FluentButton>
	<FluentButton Appearance="Appearance.Accent" OnClick="@CreateSalesOrderAsync">Order Beers</FluentButton>
	<FluentButton Appearance="Appearance.Accent" OnClick="@ResetError">Reset</FluentButton>
</FluentToolbar>
<br/>
<hr/>
<FluentCard>
	<h2>Http Response</h2>
	<div hidden="@HideResponse">
		<FluentLabel Typo="Typography.H3" Color="Color.Error">@ErrorMessage</FluentLabel>
	</div>
</FluentCard>
<br/>
<hr/>
<FluentCard>
	<FluentBadge  Fill="somevalue" BackgroundColor="green" Color="white">
		<FluentLabel>Good Responses</FluentLabel>
	</FluentBadge>
	<FluentDivider></FluentDivider>
	<FluentBadge  Fill="somevalue" BackgroundColor="green" Color="white">
		@GoodResponses
	</FluentBadge>
	<hr/>
	<FluentBadge Fill="somevalue" BackgroundColor="red" Color="white">
		<FluentLabel>Bad Responses</FluentLabel>
	</FluentBadge>
	<FluentDivider></FluentDivider>
	<FluentBadge Fill="somevalue" BackgroundColor="red" Color="white">
		@BadResponses
	</FluentBadge>
</FluentCard>
<br />
<hr/>
<FluentDataGrid Items="@SalesOrders">
	<PropertyColumn Property="@(o => o.CustomerName)" Sortable="true" />
	<PropertyColumn Property="@(o => o.OrderDate)" Format="yyyy-MM-dd" Sortable="true" />
</FluentDataGrid>